body {
  margin: 0;
  font-family: Arial;
}

.landing {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 200px;
}

button {
  padding: 10px 20px;
  border: none;
  background: green;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.navbar {
  background: green;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 200px;
  height: 200px;
}